<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <h1 style="text-align: center;">Add Book</h1>
    <div style="text-align: center;">
        <form action="/addBook" method="post">
            <label for="title">Book Title</label><br>
            <input type="text" name="title" id=""><br>
            <label for="author">Author</label><br>
            <input type="text" name="author" id=""><br>
            <label for="isbn">ISBN</label><br>
            <input type="number" name="isbn" id=""><br>
            <label for="pubDate">Publish Date</label><br>
            <input type="date" name="pubDate" id=""><br>
            <label for="publication">Publication</label><br>
            <input type="text" name="publication" id=""><br>
            <label for="nob">No Of Books</label><br>
            <input type="number" name="nob" id=""><br>
            <input type="submit" value="Save">
        </form>
    </div>
   
    
</body>
</html>