<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <nav><a href="/home">Home</a></nav>
    <h1 style="text-align: center;">Issue Book</h1>
    <div style="text-align: center;">
        <form action="/issueBook" method="post">
            <label for="userId">User ID</label><br>
            <input type="text" name="userId" id=""><br>
            <label for="bookId">ISBN</label><br>
            <input type="number" name="isbn" id=""><br>
            <label for="issueDate">Issue Date</label><br>
            <input type="date" name="issueDate" id=""><br>
            <input type="submit" value="Issue">
        </form>
    </div>